---
export const prerender = true;

import { getEntry, render } from "astro:content";

import Markdown from "@components/common/markdown.astro";
import Comment from "@components/comment.astro";
import GridLayout from "@layouts/grid.astro";
import BackwardButton from "@components/backwardButton.astro";

const pageTitle = "工具";
const pageDescription = "实用工具集合";

const toolsPost = await getEntry("spec", "tools");
if (!toolsPost) {
    throw new Error("Tools page content not found");
}

const { Content, headings } = await render(toolsPost);
---

<GridLayout title={pageTitle} description={pageDescription} headings={headings}>
    <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <BackwardButton currentPath={Astro.url.pathname} />
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
    <Comment path="/tools/" />
</GridLayout>
